.tabs {
  &__nav {

  }
  &__item {
    display: inline-block;
    margin: 0 5px 0 0;
  }
  &__btn {
    color: #222935;
  }
  &__content {
    max-width: 600px;
    width: 100%;
    display: none;
    &__box {
      display: none;
      &--active {
        display: block;
      }
    }
  }
}