.card {
  padding: 20px 0;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  margin-bottom: 15px; }
  .card__header {
    background-color: #3f51b5;
    padding: 8px 5px; }
  .card__actions, .card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; }
  .card__title {
    color: #fff;
    text-align: center; }
  .card__img {
    background-repeat: no-repeat;
    width: 100%;
    margin: 10px;
    background-size: contain;
    background-position: center;
    height: 250px; }

.button--success, .button--danger {
  border: none;
  cursor: pointer;
  color: white;
  padding: 8px 30px;
  border-radius: 2px;
  font-size: 22px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }

.button--success {
  background: #2196F3; }

.button--danger {
  background: red; }

.link {
  color: #000000; }
