@import url("https://fonts.googleapis.com/css?family=Cuprum");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

#root {
  display: flex;
  height: 100%;
  flex-direction: column; }

input::-ms-clear, input::-ms-reveal {
  display: none;
  -webkit-text-security: none !important; }
  input::-ms-clear:focus, input::-ms-reveal:focus {
    -webkit-text-security: none !important; }

::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

.error {
  color: red;
  text-align: center; }

.App {
  display: flex;
  flex-direction: column;
  height: 100%; }

body {
  position: relative;
  font-size: 17px;
  font-family: 'Cuprum', sans-serif;
  min-width: 320px;
  overflow-x: hidden; }

ul {
  list-style: none; }

.wrap-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: 50px auto; }
  .form__group {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 15px; }
  .form__input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
    .form__input:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form__btn {
    background-color: #3f51b5;
    color: white;
    max-width: 200px;
    width: 100%;
    padding: 5px 0;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 18px; }
    .form__btn--fb {
      margin-right: auto; }

.label-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  bottom: 0;
  background: #000614;
  z-index: 10;
  transition: left 0.5s; }

.btn-sidebar {
  position: fixed;
  top: 25px;
  font-size: 30px; }
  .btn-sidebar--left {
    left: 0; }
  .btn-sidebar--right {
    right: 0; }

.sidebar {
  width: 220px;
  transform: translateX(-220px);
  transition: transform 400ms;
  font: 15px/18px 'open_sansregular', 'Arial', 'Tahoma', sans-serif;
  border-top: 1px dashed #222935; }
  .sidebar--open {
    transform: translateX(0); }
  .sidebar--hide {
    transform: translateX(-220px); }
  .sidebar__item {
    text-align: center;
    border-bottom: 1px dashed #222935; }
  .sidebar__link {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #667081; }
    .sidebar__link:hover {
      color: #fff; }
    .sidebar__link svg {
      margin-right: 15px; }

.avatar {
  text-align: center;
  margin: 25px 0; }
  .avatar__img {
    margin: 0 auto 15px;
    border-radius: 50%;
    border: 2px solid #fff; }
  .avatar__title {
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px; }

.wrap-timeline {
  position: relative;
  max-width: 700px;
  width: 100%;
  overflow-y: auto;
  height: 350px; }

.timeline {
  position: relative; }
  .timeline:before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: #26c17e;
    right: 7.2%;
    top: 0;
    bottom: 0; }
  .timeline__item {
    position: relative;
    margin-bottom: 40px; }
  .timeline__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #26c17e;
    color: #fff;
    margin: -20px -20px 0 -20px;
    font-weight: 300;
    border-radius: 3px 3px 0 0; }
  .timeline__content {
    width: 85%;
    background: #e8eaf6;
    padding: 20px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease; }
    .timeline__content:before {
      content: '';
      position: absolute;
      right: 14%;
      top: 20px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid #26c17e; }
  .timeline__body {
    padding: 10px 0; }
  .timeline__ico {
    background: #26c17e;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 4%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -23px;
    border-radius: 50%; }

#splash {
  background: #cc1f2f;
  background-repeat: repeat-y;
  position: absolute;
  left: 0;
  top: 0;
  width: 700px;
  height: 300px;
  overflow: hidden;
  animation: splash 3s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }
  #splash h3 {
    padding: 20px;
    color: #ffffff; }

#loader {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0); }

#loader:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -170px;
  width: 3px;
  background: #fff;
  background: linear-gradient(to bottom, white 0%, white 50%, rgba(255, 255, 255, 0) 100%);
  height: 200px; }

#loader:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: 8px;
  bottom: -190px;
  width: 3px;
  background: #000;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, transparent 100%);
  height: 200px; }

#splash .anim {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100px;
  transform: translate(-50%, 100%);
  animation: loader 2s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

@keyframes loader {
  0% {
    transform: translate(-50%, 110%); }
  30% {
    transform: translate(-50%, 50%); }
  100% {
    transform: translate(-50%, 0%); } }

@keyframes splash {
  0% {
    transform: translate(0%, 0%); }
  50% {
    transform: translate(0%, 0%); }
  100% {
    transform: translate(0%, -100%); } }

.experience__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 15px; }
  .experience__row:first-of-type {
    margin-bottom: 15px;
    border-bottom: 1px dashed #26c17e;
    padding-bottom: 15px; }

.experience__left {
  flex: 1; }

.experience__right {
  flex: 2; }

.experience__title, .experience__date, .experience__title {
  margin: 10px 0; }

.experience__description {
  padding-right: 25px; }

.contacts__item {
  display: flex;
  align-items: center; }

.contacts__ico {
  padding: 15px;
  margin-right: 15px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eee; }

.contacts__title {
  display: flex;
  flex-direction: column; }
  .contacts__title a {
    color: #000614;
    font-size: 14px;
    font-weight: 300; }

.feedback__item {
  margin-bottom: 20px;
  padding: 20px 0 20px;
  position: relative; }

.feedback__photo {
  margin-bottom: -30px;
  width: 50px;
  position: absolute;
  bottom: 30px;
  left: 0;
  border-radius: 50%;
  border: 1px solid;
  z-index: 1;
  height: 50px; }

.feedback__blockquote q {
  display: block;
  background: #eee;
  margin-bottom: 10px;
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #ddd; }

.feedback__cite {
  display: block;
  padding: 0 0 0 60px;
  font-size: 12px; }

.feedback__link {
  margin: 0 5px;
  color: #26c17e; }

.skills .btn-edit {
  background: #000614;
  border-radius: 5px 5px;
  color: #fff;
  padding: 10px 20px; }

.skills__item {
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  background-color: #26c17e;
  margin-bottom: 15px;
  color: #ffffff; }

.form-skills {
  padding: 20px;
  border: 1px solid #26c17e;
  margin-bottom: 20px; }
  .form-skills__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; }
    .form-skills__group label {
      flex: 1; }
    .form-skills__group input {
      flex: 2;
      padding: 10px;
      border: 1px solid #eee; }
  .form-skills__btn {
    max-width: 95px;
    width: 100%;
    border-radius: 5px 5px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px; }
    .form-skills__btn:hover {
      background-color: #26c17e; }

.title-section {
  color: #26c17e;
  font-size: 30px;
  margin: 10px 0 35px 0; }

.container {
  width: 90vw;
  margin: auto;
  padding: 0 50px 0 0;
  transition: transform 330ms ease-out; }
  .container--slideIn {
    transform: translateX(220px); }

.section {
  margin: 30px 0; }

.btn-toTop {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 23px;
  right: 23px;
  padding: 0;
  overflow: hidden;
  border: 0;
  outline: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 50%;
  background: #26c17e;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1); }
  .btn-toTop:hover {
    background-color: 45.29412%;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5); }

.btn-hamb {
  position: fixed;
  z-index: 25;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: transparent;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: 2px solid;
  border-radius: 50%;
  padding: 10px;
  box-sizing: content-box;
  transition: transform 400ms, -webkit-transform 400ms; }
  .btn-hamb:focus {
    outline: 0;
    box-shadow: 0px 0px 1px 1px #5E9ED6; }
  .btn-hamb--open {
    transform: rotate(-45deg); }
    .btn-hamb--open .btn-hamb__line--end {
      transform: rotate(-90deg) translateX(-3px); }
    .btn-hamb--open .btn-hamb__line--start {
      transform: rotate(-90deg) translateX(3px); }
  .btn-hamb__line {
    display: inline-block;
    background-color: #000;
    border-radius: 5px;
    width: 30px;
    height: 6px;
    margin-bottom: 6px; }
    .btn-hamb__line:last-of-type {
      margin-bottom: 0; }
    .btn-hamb__line--start {
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: right; }
    .btn-hamb__line--end {
      align-self: flex-end;
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: left; }
    .btn-hamb__line--half {
      width: 50%; }
