@import "form/form.scss";
@import url('https://fonts.googleapis.com/css?family=Cuprum');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  position: relative;
  background-color: #f1f1f1;
  font-size: 17px;
  font-family: 'Cuprum', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
