@import url("https://fonts.googleapis.com/css?family=Cuprum");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

#root {
  display: flex;
  height: 100%;
  flex-direction: column; }

.App {
  display: flex;
  flex-direction: column;
  height: 100%; }

body {
  position: relative;
  font-size: 17px;
  font-family: 'Cuprum', sans-serif;
  min-width: 320px;
  overflow-x: hidden; }

ul {
  list-style: none; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: auto; }
  .form__group {
    position: relative;
    width: 100%;
    margin-bottom: 15px; }
  .form__input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
    .form__input:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form__btn {
    background-color: #3f51b5;
    color: white;
    max-width: 200px;
    width: 100%;
    padding: 10px 0;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 18px; }

.label-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  bottom: 0;
  background: #000614;
  z-index: 10;
  transition: left 0.5s; }

.btn-sidebar {
  position: fixed;
  top: 25px;
  font-size: 30px; }
  .btn-sidebar--left {
    left: 0; }
  .btn-sidebar--right {
    right: 0; }

.sidebar {
  width: 220px;
  transform: translateX(-220px);
  transition: transform 400ms ease-in;
  font: 15px/18px 'open_sansregular', 'Arial', 'Tahoma', sans-serif;
  border-top: 1px dashed #222935; }
  .sidebar--open {
    transform: translateX(0); }
  .sidebar--hide {
    transform: translateX(-220px); }
  .sidebar__item {
    text-align: center;
    border-bottom: 1px dashed #222935; }
  .sidebar__link {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #667081; }
    .sidebar__link:hover {
      color: #fff; }
    .sidebar__link svg {
      margin-right: 15px; }

.avatar {
  text-align: center;
  margin: 25px 0; }
  .avatar__img {
    margin: 0 auto 15px;
    border-radius: 50%;
    border: 2px solid #fff; }
  .avatar__title {
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px; }

.wrap-timeline {
  position: relative;
  max-width: 700px;
  width: 100%; }
  .wrap-timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #ee4d4d;
    right: 18%;
    top: 0;
    position: absolute; }

.timeline {
  position: relative;
  max-width: 740px;
  width: 100%;
  overflow-y: auto;
  height: 350px; }
  .timeline__item {
    position: relative;
    margin-bottom: 40px; }
  .timeline__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #ee4d4d;
    color: #fff;
    margin: -20px -20px 0 -20px;
    font-weight: 300;
    border-radius: 3px 3px 0 0; }
  .timeline__content {
    width: 75%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease; }
    .timeline__content:before {
      content: '';
      position: absolute;
      right: 25%;
      top: 20px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid #ee4d4d; }
  .timeline__ico {
    background: #ee4d4d;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -23px;
    border-radius: 50%; }

.title-section {
  color: lightgreen;
  font-size: 30px;
  margin: 10px 0 35px 0; }

.container {
  width: 90vw;
  margin: auto;
  padding: 0 15px; }

.btn-toTop {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 23px;
  right: 23px;
  padding: 0;
  overflow: hidden;
  border: 0;
  outline: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 50%;
  background: #4caf50;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1); }
  .btn-toTop:hover {
    background-color: #4caf50;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5); }

.btn-hamb {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: transparent;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out; }
  .btn-hamb:focus {
    outline: 0;
    box-shadow: 0px 0px 1px 1px #999, 0px 0px 3px 3px rgba(153, 153, 153, 0.5); }
  .btn-hamb--open {
    transform: rotate(-45deg); }
    .btn-hamb--open .btn-hamb__line--end {
      transform: rotate(-90deg) translateX(-3px); }
    .btn-hamb--open .btn-hamb__line--start {
      transform: rotate(-90deg) translateX(3px); }
  .btn-hamb__line {
    display: inline-block;
    background-color: #000;
    border-radius: 5px;
    width: 48px;
    height: 6px; }
    .btn-hamb__line--start {
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: right; }
    .btn-hamb__line--end {
      align-self: flex-end;
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: left; }
    .btn-hamb__line--half {
      width: 50%; }
