.experience {
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 15px;
    &:first-of-type {
      margin-bottom: 15px;
      border-bottom: 1px dashed #26c17e;
      padding-bottom: 15px;
    }
  }
  &__left {
    flex: 1;
  }
  &__right {
    flex: 2;
  }
  &__title, &__date, &__title {
    margin: 10px 0;
  }
  &__description {
    padding-right: 25px;
  }
}