@import "../var.scss";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebarWidth;
  bottom: 0;
  background: #000614;
  z-index: 10;
  transition: left 0.5s;
}

.btn-sidebar {
  position: fixed;
  top: 25px;

  font-size: 30px;
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}

.sidebar {
  width: 220px;
  transform: translateX(-220px);
  transition: transform 400ms;
  font: 15px/18px 'open_sansregular', 'Arial', 'Tahoma', sans-serif;
  border-top: 1px dashed #222935;
  &--open {
    transform: translateX(0);
  }
  &--hide {
    transform: translateX(-220px);
  }
  &__item {
    text-align: center;
    border-bottom: 1px dashed #222935;
  }
  &__link {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #667081;
    &:hover {
      color: #fff;
    }
    svg {
      margin-right: 15px;
    }
  }
}

.avatar {
  text-align: center;
  margin: 25px 0;
  &__img {
    margin: 0 auto 15px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  &__title {
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
}
